%h1 login
= @login.errors.messages.inspect
= form_for @login,  url: iot_sharepay_login_path,
                    method: :post, as: :payment,
                    html: { id: :login_form } do |f|
  .input-group
    = f.radio_button :identify_by, :email
    = f.text_field :auth_email, disabled: !@login.identify_by_email?
  .input-group
    = f.radio_button :identify_by, :phone
    = f.text_field :auth_phone, disabled: !@login.identify_by_phone?
  .input-group
    = f.text_field :password
  = render partial: 'payment', locals: { f: f }
  = f.submit '登入', class: 'button'

:css
  .input-group {

  }

:javascript
  var $loginByEmail = document.getElementById('payment_identify_by_email');
  var $loginByPhone = document.getElementById('payment_identify_by_phone');
  var $emailInput = document.getElementById('payment_auth_email');
  var $phoneInput = document.getElementById('payment_auth_phone');
  $loginByEmail.addEventListener('change', function(e) {
    $phoneInput.setAttribute('disabled', 'disabled');
    $emailInput.removeAttribute('disabled');
  });
  $loginByPhone.addEventListener('change', function(e) {
    $emailInput.setAttribute('disabled', 'disabled');
    $phoneInput.removeAttribute('disabled');
  });
