#verify.iot.container.pay
  = render 'payment_detail'
  .row-header
    .title.black-color
      帳號驗證
      %span.helper.danger-color= "請至您的#{@verification.identify_name}收取驗證碼"
  .row-body
    - if @verification.errors.messages.length > 0
      .error-messages
        - @verification.errors.messages.each do |key, message|
          .error-message= message.first
    = form_for @verification, url: iot_sharepay_verify_path, method: :post, as: :payment, html: { id: :verify_form } do |f|
      = render partial: 'verify_hidden', locals: { f: f }
      = render partial: 'payment', locals: { f: f }
      .input-group
        = f.label :verify_code, '驗證碼(4碼)', class: 'label'
        = f.text_field :verify_code, class: 'input'
      .input-group
        = f.submit '驗證', class: 'button primary-button'
    = form_for @verification,
              url: iot_sharepay_register_path,
              method: :post,
              as: :payment,
              html: { id: :resend_form } do |f|
      = render partial: 'verify_hidden', locals: { f: f }
      = render partial: 'payment', locals: { f: f }
      .input-group
        = f.submit '重發驗證碼', id: :resend_button, class: 'button primary-button', disabled: true

:css
  #resend_button {
    width: 200px;
  }

:javascript
  var $resendForm = document.getElementById('resend_form');
  var $resendButton = document.getElementById('resend_button');
  var countdown = 30;
  $resendForm.addEventListener('submit', function() {
    $resendButton.setAttribute('disabled', 'disabled');
  });
  resendTimer = setInterval(function() {
    if (countdown === 0) {
      clearInterval(resendTimer);
      $resendButton.value = '重發驗證碼';
      $resendButton.removeAttribute('disabled');
      return;
    }
    $resendButton.value = '重發驗證碼(' + countdown + ')';
    countdown -= 1;
  }, 1000);
