<!DOCTYPE html>
<html>
  <head>
    <title>Shareec</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <%= favicon_link_tag 'app_logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= env_javascript_include_tag(hot: ['vendor-bundle.js', 'app-bundle.js']) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
